meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Marco normativo, lineamiento y protocolo para la identificación, tratamiento y seguimiento de la desnutrición aguda
meta(meta name="description" content="En esta unidad se presenta un acercamiento al marco normativo, lineamiento y protocolo fundamentales para las actividades de identificación, tratamiento, seguimiento y notificación de la desnutrición aguda.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")