h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Comprender la normatividad que soporta y apoya el abordaje integrado de la desnutrición aguda de los niños menores de cinco (5) años según lineamientos establecidos.





