.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Ministerio de Salud y Protección Social. (2016). Resolución 2465 de 2016.
                    td Documento PDF online
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resolucion%202465%20de%202016.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de Salud y Protección Social. (2018). Resolución 2438 de 2018.  
                    td Documento PDF online
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/Resolucion-2438-de-2018.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de Salud y Protección Social. (2018). Resolución 1885 de 2018.
                    td Documento PDF online
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resolucion%201885%20de%202018.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de Salud y Protección Social. (2019). Resolución 1343 de 2019.   
                    td Documento PDF online
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/Resolucion-1343-de-2019.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de Salud y Protección Social y Fondo de las Naciones Unidas para la Infancia – UNICEF. (2017). Lineamiento técnico para el manejo integral de atención a la desnutrición aguda, moderada y severa en niños de 0 a 59 meses de edad. 
                    td Documento PDF online
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/lineamiento-desnutricion-aguda-minsalud-unicef-final.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver

                tr
                    td Instituto Nacional de Salud. (2017). Vigilancia integrada de muertes en menores de cinco años por infección respiratoria aguda, enfermedad diarreica aguda o desnutrición, código 591 (versión 01).  
                    td Documento PDF online
                    td 
                        a(href="https://www.ins.gov.co/buscador-eventos/Lineamientos/PRO%20Mortalidad%20en%20menores_.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver