include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas
 

    .jumbotron.bg-white.referencias

        +referenciaItem("Instituto Nacional de Salud. (2017).  Protocolo de vigilancia en salud pública, desnutrición aguda moderada y severa en menores de cinco años, código 113 (versión 03).","https://www.dadiscartagena.gov.co/images/docs/saludpublica/vigilancia/protocolos/p2018/pro_desnutricion_menor_5_2018.pdf")

        +referenciaItem("Instituto Nacional de Salud. (2017).  Protocolo vigilancia en Salud Pública. Vigilancia integrada de muertes en menores de cinco años por infección respiratoria aguda, enfermedad diarreica aguda o desnutrición, código 591 (versión 01).","https://www.ins.gov.co/buscador-eventos/Lineamientos/Pro_Mortalidad%20menores%205%20a%C3%B1os.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (2016). Resolución 2465 de 2016, por la cual se adoptan los indicadores antropométricos, patrones de referencia y puntos de corte para la clasificación antropométrica del estado nutricional de niñas, niños y adolescentes menores de 18 años de edad, adultos de 18 a 64 años de edad y gestantes adultas y se dictan otras disposiciones. Diario Oficial n.° 49.926. ","https://www.minsalud.gov.co/Normatividad_Nuevo/Resolucion%202465%20de%202016.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (2018). Resolución 2438 de 2018, por la cual se establece el procedimiento y los requisitos para el acceso, reporte de prescripción y suministro de tecnologías en salud no financiadas con recursos de la UPC del Régimen Subsidiado y servicios complementarios y se dictan otras disposiciones. Diario Oficial n.° 50.622.","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/Resolucion-2438-de-2018.pdf") 

        +referenciaItem("Ministerio de Salud y Protección Social. (2018). Resolución 1885 de 2018, por la cual se establece el procedimiento de acceso, reporte de prescripción, suministro, verificación, control, pago y análisis de la información de tecnologías en salud no financiadas con recursos de la UPC, de servicios complementarios y se dictan otras disposiciones. Diario Oficial n.° 50.589. ","https://www.minsalud.gov.co/Normatividad_Nuevo/Resolucion%201885%20de%202018.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (2019). Resolución 1343 de 2019, por la cual se modifica el artículo 12 de las Resoluciones 1885 y 2438 de 2018 en relación con la prescripción de productos de soporte nutricional a menores de cinco (5) años. Diario Oficial n.° 50.968. ","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/Resolucion-1343-de-2019.pdf") 

        +referenciaItem("Ministerio de Salud y Protección Social y Fondo de las Naciones Unidas para la Infancia – UNICEF. (2017). Lineamiento técnico para el manejo integral de atención a la desnutrición aguda, moderada y severa en niños de 0 a 59 meses de edad 2.a ed.","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/lineamiento-desnutricion-aguda-minsalud-unicef-final.pdf") 

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            