.container

    .card

        .card-body.p-5
            h2#tema-15.mt-5 1.5 Protocolo de vigilancia en salud pública: desnutrición aguda moderada y severa, en menores de cinco (5) años

            .row.justify-content-center.ml-4.mt-5.mb-6
                .col-8
                    p.mt-5 La desnutrición es una de las principales amenazas para la supervivencia, la salud, el crecimiento y el desarrollo de las capacidades de millones de niños, así como también para el progreso de sus países. Por esta razón, en Colombia fue creada la vigilancia en salud pública de la desnutrición aguda, en menores de cinco (5) años, como parte de la implementación del modelo de vigilancia del estado nutricional para la población colombiana.
                    p.mt-3 El Instituto Nacional de Salud (INS) publicó, en el año 2017, la versión más reciente del protocolo para la vigilancia del evento de desnutrición aguda moderada y severa, en menores de cinco (5) años, código 113. De igual manera, se cuenta con el protocolo de vigilancia en salud pública para el evento de mortalidad en menores de 5 años, por enfermedad, infección respiratoria aguda (IRA), enfermedad diarreica aguda (EDA), o desnutrición.
                .col-4.d-flex.align-items-center
                    img(src="assets/images/pages/tema-5/tema-5-1.svg").img-fluid

            .row
                .col-10.bg-color-gris-claro.border-y-verde.mx-auto
                    p.font-weight-bold.ml-4.mt-4 Protocolo de vigilancia en salud pública, evento desnutrición aguda moderada y severa, en menores de cinco (5) años, código 113.
                    p.ml-4.mt-3 Indica el proceso para la notificación de niños, identificados con desnutrición aguda.
                    .row.justify-content-center.align-items-center.mt-4.mb-4
                        .col-2.d-flex.mx-auto.p-0
                            img(src="assets/images/pages/tema-2/tema-2-6.svg").img-fluid
                        .col-7
                            a.text-color-default(href="https://www.ins.gov.co/buscador-eventos/Paginas/Fichas-y-Protocolos.aspx" target="_blank") https://www.ins.gov.co/buscador-eventos/Paginas/Fichas-y-Protocolos.aspx                       
                        .col-2.d-flex.mx-auto
                            img(src="assets/images/pages/tema-2/tema-2-7.svg").img-fluid
            .row.mt-4
                .col-10.bg-color-gris-claro.border-y-verde.mx-auto
                    p.font-weight-bold.ml-4.mt-4 Protocolo de vigilancia en salud pública, vigilancia integrada de muerte en menores de cinco años, por infección respiratoria aguda, enfermedad diarreica aguda, o desnutrición, código 591.
                    p.ml-4.mt-3 Indica el proceso para la notificación de los casos probables, confirmados y descartados, de muerte por IRA, EDA, o desnutrición en niños.
                    .row.justify-content-center.align-items-center.mt-4.mb-4
                        .col-2.d-flex.mx-auto.p-0
                            img(src="assets/images/pages/tema-2/tema-2-6.svg").img-fluid
                        .col-7
                            a.text-color-default(href="https://www.ins.gov.co/buscador-eventos/Lineamientos/Pro_Mortalidad%20menores%205%20a%C3%B1os.pdf" target="_blank") https://www.ins.gov.co/buscador-eventos/Lineamientos/Pro_Mortalidad%20menores%205%20a%C3%B1os.pdf                       
                        .col-2.d-flex.mx-auto
                            img(src="assets/images/pages/tema-2/tema-2-7.svg").img-fluid                    
            
            .row.mt-4
                .col-10.bg-color-gris-claro.border-y-verde.mx-auto
                    p.font-weight-bold.ml-4.mt-4 Ficha de notificación: datos básicos y del evento desnutrición aguda moderada y severa, en menores de cinco años, código 113.
                    p.ml-4.mt-3 Ficha con la información que debe registrarse ante la identificación de un niño, con desnutrición aguda.
                    .row.justify-content-center.align-items-center.mt-4.mb-4
                        .col-2.d-flex.mx-auto.p-0
                            img(src="assets/images/pages/tema-2/tema-2-6.svg").img-fluid
                        .col-7
                            a.text-color-default(href="https://www.ins.gov.co/buscador-eventos/Lineamientos/113_Desnutrici%C3%B3n%20aguda,%20moderada%20y%20severa%20en%20menores%20de%205%20a%C3%B1os_2020.pdf" target="_blank") https://www.ins.gov.co/buscador-eventos/Lineamientos/113_Desnutrici%C3%B3n%20aguda,%20moderada%20y%20severa%20en%20menores%20de%205%20a%C3%B1os_2020.pdf                       
                        .col-2.d-flex.mx-auto
                            img(src="assets/images/pages/tema-2/tema-2-7.svg").img-fluid                    

            .row.my-4
                .col-10.bg-color-gris-claro.border-y-verde.mx-auto
                    p.font-weight-bold.ml-4.mt-4 Información epidemiológica de la desnutrición aguda, en menores de cinco años.
                    p.ml-4.mt-3 Espacio web del Instituto Nacional de Salud – INS, con información relacionada con el evento de desnutrición aguda.
                    .row.justify-content-center.align-items-center.mt-4.mb-4
                        .col-2.d-flex.mx-auto.p-0
                            img(src="assets/images/pages/tema-2/tema-2-6.svg").img-fluid
                        .col-7
                            a.text-color-default(href="https://www.ins.gov.co/buscador-eventos/SitePages/Evento.aspx?Event=22" target="_blank") https://www.ins.gov.co/buscador-eventos/SitePages/Evento.aspx?Event=22                       
                        .col-2.d-flex.mx-auto
                            img(src="assets/images/pages/tema-2/tema-2-7.svg").img-fluid                    