.container

    .card

        .card-body.p-5
            h2#tema-14.mt-5 1.4 Lineamiento para el manejo integral de atención a la desnutrición aguda moderada y severa en niños de cero (0) a 59 meses de edad
            
            .row.justify-content-center
                .col-9
                    p En el año 2015, teniendo en cuenta que, el país no contaba con una guía de práctica clínica o un lineamiento técnico actualizado para orientar la atención de la desnutrición en niños y niñas menores de cinco (5) años, la dirección de promoción y prevención del Ministerio de Salud y Protección Social, lideró la elaboración de los lineamientos técnicos para la atención de las niñas y los niños, menores de cinco (5) años con desnutrición, priorizando como indicador trazador, el peso bajo para la talla o desnutrición aguda, menor a menos dos (2) desviaciones estándar, por la relación entre este indicador y la mortalidad infantil por, o asociada a desnutrición, lineamiento que fue actualizado en el año 2020.
                .col-3
                    img(src="assets/images/pages/tema-4/tema-4-1.svg").img-fluid
            
            .row.mt-5
                h3.font-weight-bold.color-naranja 1.4.1 Campo de aplicación
                p.mt-3 Las disposiciones contenidas en el lineamiento y el acto administrativo que lo reglamente, son de obligatorio cumplimiento para:

            .row.mx-0.mt-3
                img(src="assets/images/pages/tema-4/tema-4-3.svg").img-fluid

                .row.color-naranja        
                    h3.font-weight-bold.mt-5 1.4.2 Detección o identificación de casos de niños con desnutrición aguda
                p.mt-4 La detección o identificación de casos de niños menores de cinco (5) años, con desnutrición aguda, deberá realizarse en los siguientes niveles:

            .row.justify-content-center.mr-4.mt-5
                .col-2.d-flex.align-items-center
                    img(src="assets/images/pages/tema-4/tema-4-4.svg").img-fluid
                .col-8.bg-color-gris-claro.border-y-verde
                    p.pl-5.py-4 #[b Intramural], como #[b extramural], mediante la demanda espontánea en los diferentes servicios de salud, y por jornadas de atención integral en salud que realicen las IPS.
                .col-2.d-flex.align-items-center
                    img(src="assets/images/pages/tema-4/tema-4-5.svg").img-fluid
            
            p.mt-5 La atención de la desnutrición aguda en niños menores de cinco (5) años, se considera como una atención de urgencias y, por lo tanto, no requiere ningún tipo de autorización administrativa y su atención debe ser inmediata.
            
            h3.font-weight-bold.color-naranja.mt-5 1.4.3 Articulación intersectorial
            p.mt-4 Para la prevención y atención de la desnutrición aguda, se precisa de acciones articuladas y del concurso de diferentes sectores; entre estos, el social, el educativo, el agropecuario, el ambiental, el de vivienda y el productivo, en torno a la gestión territorial de la seguridad alimentaria y nutricional, a nivel familiar y comunitario.
            p.mt-3 Las entidades obligadas a cumplir con lo dispuesto en el lineamiento o sectores precitados, deben colaborar armónicamente con la implementación de la atención integral de los niños menores de cinco (5) años con desnutrición aguda.
            
            h3.font-weight-bold.color-naranja.mt-5 1.4.4 Inspección, vigilancia y control
            .row.justify-content-center.mr-4.my-5
                .col-8
                    p.mt Sin perjuicio de las funciones que le corresponden a la Superintendencia Nacional de Salud, relacionadas con el ejercicio de IVC para que los usuarios accedan a los servicios de salud que les garantiza el Plan de Beneficios con cargo a la Unidad de Pago por Capitación – UPC, las secretarías de salud o dependencias que haga sus veces, velarán porque el manejo integral de atención a la desnutrición, se realice conforme con el lineamiento técnico adoptado mediante el anexo técnico que hace parte de la Resolución 2350 de 2020, y adelantarán las acciones en el marco de sus competencias, cuando evidencien incumplimiento a lo aquí dispuesto. 
                .col-4.d-flex.align-items-center
                    img(src="assets/images/pages/tema-4/tema-4-6.svg").img-fluid
                    

            